In [2]:
from pydsstools.heclib.dss import HecDss
from datetime import datetime
from pydsstools.core import TimeSeriesContainer, UNDEFINED
import pandas as pd
import os

In [3]:
# filename = r"Z:\Observations_Observations_NOAA_8770808_NAVD88_FT.csv"
filename = r"Z:\Observations_NOAA_8770971_Rollover Pass.csv"
folder_path = '.'
data = pd.read_csv(filename, skiprows=3, names=['date', 'time', 'WaterLevel'])
data

               date   time  WaterLevel
0        04/05/2004  09:00    -0.03689
1        04/05/2004  09:06     0.06111
2        04/05/2004  09:12     0.11111
3        04/05/2004  09:18     0.10411
4        04/05/2004  09:24     0.14311
...             ...    ...         ...
1541958  05/02/2024  16:18     1.93110
1541959  05/02/2024  16:24     1.98710
1541960  05/02/2024  16:30     2.04010
1541961  05/02/2024  16:36     2.05010
1541962  05/02/2024  16:42     2.06310

[1541963 rows x 3 columns]

In [4]:
# convert the time column 
# combine date and time columns to a single datetime column
data['datetime'] = pd.to_datetime(data['date'] + ' ' + data['time'])
data.drop(columns=['date', 'time'], inplace=True)
data.set_index('datetime', inplace=True)
data

                     WaterLevel
datetime
2004-04-05 09:00:00    -0.03689
2004-04-05 09:06:00     0.06111
2004-04-05 09:12:00     0.11111
2004-04-05 09:18:00     0.10411
2004-04-05 09:24:00     0.14311
...                         ...
2024-05-02 16:18:00     1.93110
2024-05-02 16:24:00     1.98710
2024-05-02 16:30:00     2.04010
2024-05-02 16:36:00     2.05010
2024-05-02 16:42:00     2.06310

[1541963 rows x 1 columns]

In [5]:
timesList = data.index.strftime("%d%b%Y %H:%M:%S").astype(str).tolist()
valuesList = data['WaterLevel'].tolist()
len(timesList), len(valuesList)

(1541963, 1541963)

In [6]:
pathname = f'/Rollover Pass/8770971/STAGE//IR-MONTH/NOAA NAVD88/'
tsc = TimeSeriesContainer()
tsc.pathname = pathname
tsc.startDateTime = data.index[0].strftime("%d%b%Y %H:%M:%S")
tsc.numberValues = len(data["WaterLevel"])
tsc.units = "FEET"
tsc.type = "INST"
tsc.interval = -1
tsc.values = data["WaterLevel"].tolist()
tsc.times = data.index.strftime("%d%b%Y %H:%M:%S").astype(str).tolist()

# dss_file = filename[:-4]+".dss"

In [7]:
dss_file = 'Observations_RolloverPass_NOAA_8770971_NAVD88_FT.dss'
with HecDss.Open(dss_file) as fid:
        status = fid.put_ts(tsc)

In [3]:
times =data.datetime
times

0      2019-01-02 04:00:00
1      2019-01-02 05:00:00
2      2019-01-02 06:00:00
3      2019-01-02 07:00:00
4      2019-01-02 08:00:00
              ...
196    2019-01-10 08:00:00
197    2019-01-10 09:00:00
198    2019-01-10 10:00:00
199    2019-01-10 11:00:00
200    2019-01-10 12:00:00
Name: datetime, Length: 201, dtype: object

In [4]:
times_dt = pd.to_datetime(times, yearfirst=True)
data['ConvertedDate']=times_dt.dt.strftime("%d%b%Y %H:%M:%S").astype(str)
startDate = data['ConvertedDate'][0]
timesList = data['ConvertedDate'].values.tolist()
timesList

['02Jan2019 04:00:00',
 '02Jan2019 05:00:00',
 '02Jan2019 06:00:00',
 '02Jan2019 07:00:00',
 '02Jan2019 08:00:00',
 '02Jan2019 09:00:00',
 '02Jan2019 10:00:00',
 '02Jan2019 11:00:00',
 '02Jan2019 12:00:00',
 '02Jan2019 13:00:00',
 '02Jan2019 14:00:00',
 '02Jan2019 15:00:00',
 '02Jan2019 16:00:00',
 '02Jan2019 17:00:00',
 '02Jan2019 18:00:00',
 '02Jan2019 19:00:00',
 '02Jan2019 20:00:00',
 '02Jan2019 21:00:00',
 '02Jan2019 22:00:00',
 '02Jan2019 23:00:00',
 '03Jan2019 00:00:00',
 '03Jan2019 01:00:00',
 '03Jan2019 02:00:00',
 '03Jan2019 03:00:00',
 '03Jan2019 04:00:00',
 '03Jan2019 05:00:00',
 '03Jan2019 06:00:00',
 '03Jan2019 07:00:00',
 '03Jan2019 08:00:00',
 '03Jan2019 09:00:00',
 '03Jan2019 10:00:00',
 '03Jan2019 11:00:00',
 '03Jan2019 12:00:00',
 '03Jan2019 13:00:00',
 '03Jan2019 14:00:00',
 '03Jan2019 15:00:00',
 '03Jan2019 16:00:00',
 '03Jan2019 17:00:00',
 '03Jan2019 18:00:00',
 '03Jan2019 19:00:00',
 '03Jan2019 20:00:00',
 '03Jan2019 21:00:00',
 '03Jan2019 22:00:00',
 '03Jan2019 23:00:00',
 '04Jan2019 00:00:00',
 '04Jan2019 01:00:00',
 '04Jan2019 02:00:00',
 '04Jan2019 03:00:00',
 '04Jan2019 04:00:00',
 '04Jan2019 05:00:00',
 '04Jan2019 06:00:00',
 '04Jan2019 07:00:00',
 '04Jan2019 08:00:00',
 '04Jan2019 09:00:00',
 '04Jan2019 10:00:00',
 '04Jan2019 11:00:00',
 '04Jan2019 12:00:00',
 '04Jan2019 13:00:00',
 '04Jan2019 14:00:00',
 '04Jan2019 15:00:00',
 '04Jan2019 16:00:00',
 '04Jan2019 17:00:00',
 '04Jan2019 18:00:00',
 '04Jan2019 19:00:00',
 '04Jan2019 20:00:00',
 '04Jan2019 21:00:00',
 '04Jan2019 22:00:00',
 '04Jan2019 23:00:00',
 '05Jan2019 00:00:00',
 '05Jan2019 01:00:00',
 '05Jan2019 02:00:00',
 '05Jan2019 03:00:00',
 '05Jan2019 04:00:00',
 '05Jan2019 05:00:00',
 '05Jan2019 06:00:00',
 '05Jan2019 07:00:00',
 '05Jan2019 08:00:00',
 '05Jan2019 09:00:00',
 '05Jan2019 10:00:00',
 '05Jan2019 11:00:00',
 '05Jan2019 12:00:00',
 '05Jan2019 13:00:00',
 '05Jan2019 14:00:00',
 '05Jan2019 15:00:00',
 '05Jan2019 16:00:00',
 '05Jan2019 17:00:00',
 '05Jan2019 18:00:00',
 '05Jan2019 19:00:00',
 '05Jan2019 20:00:00',
 '05Jan2019 21:00:00',
 '05Jan2019 22:00:00',
 '05Jan2019 23:00:00',
 '06Jan2019 00:00:00',
 '06Jan2019 01:00:00',
 '06Jan2019 02:00:00',
 '06Jan2019 03:00:00',
 '06Jan2019 04:00:00',
 '06Jan2019 05:00:00',
 '06Jan2019 06:00:00',
 '06Jan2019 07:00:00',
 '06Jan2019 08:00:00',
 '06Jan2019 09:00:00',
 '06Jan2019 10:00:00',
 '06Jan2019 11:00:00',
 '06Jan2019 12:00:00',
 '06Jan2019 13:00:00',
 '06Jan2019 14:00:00',
 '06Jan2019 15:00:00',
 '06Jan2019 16:00:00',
 '06Jan2019 17:00:00',
 '06Jan2019 18:00:00',
 '06Jan2019 19:00:00',
 '06Jan2019 20:00:00',
 '06Jan2019 21:00:00',
 '06Jan2019 22:00:00',
 '06Jan2019 23:00:00',
 '07Jan2019 00:00:00',
 '07Jan2019 01:00:00',
 '07Jan2019 02:00:00',
 '07Jan2019 03:00:00',
 '07Jan2019 04:00:00',
 '07Jan2019 05:00:00',
 '07Jan2019 06:00:00',
 '07Jan2019 07:00:00',
 '07Jan2019 08:00:00',
 '07Jan2019 09:00:00',
 '07Jan2019 10:00:00',
 '07Jan2019 11:00:00',
 '07Jan2019 12:00:00',
 '07Jan2019 13:00:00',
 '07Jan2019 14:00:00',
 '07Jan2019 15:00:00',
 '07Jan2019 16:00:00',
 '07Jan2019 17:00:00',
 '07Jan2019 18:00:00',
 '07Jan2019 19:00:00',
 '07Jan2019 20:00:00',
 '07Jan2019 21:00:00',
 '07Jan2019 22:00:00',
 '07Jan2019 23:00:00',
 '08Jan2019 00:00:00',
 '08Jan2019 01:00:00',
 '08Jan2019 02:00:00',
 '08Jan2019 03:00:00',
 '08Jan2019 04:00:00',
 '08Jan2019 05:00:00',
 '08Jan2019 06:00:00',
 '08Jan2019 07:00:00',
 '08Jan2019 08:00:00',
 '08Jan2019 09:00:00',
 '08Jan2019 10:00:00',
 '08Jan2019 11:00:00',
 '08Jan2019 12:00:00',
 '08Jan2019 13:00:00',
 '08Jan2019 14:00:00',
 '08Jan2019 15:00:00',
 '08Jan2019 16:00:00',
 '08Jan2019 17:00:00',
 '08Jan2019 18:00:00',
 '08Jan2019 19:00:00',
 '08Jan2019 20:00:00',
 '08Jan2019 21:00:00',
 '08Jan2019 22:00:00',
 '08Jan2019 23:00:00',
 '09Jan2019 00:00:00',
 '09Jan2019 01:00:00',
 '09Jan2019 02:00:00',
 '09Jan2019 03:00:00',
 '09Jan2019 04:00:00',
 '09Jan2019 05:00:00',
 '09Jan2019 06:00:00',
 '09Jan2019 07:00:00',
 '09Jan2019 08:00:00',
 '09Jan2019 09:00:00',
 '09Jan2019 10:00:00',
 '09Jan2019 11:00:00',
 '09Jan2019 12:00:00',
 '09Jan2019 13:00:00',
 '09Jan2019 14:00:00',
 '09Jan2019 15:00:00',
 '09Jan2019 16:00:00',
 '09Jan2019 17:00:00',
 '09Jan2019 18:00:00',
 '09Jan2019 19:00:00',
 '09Jan2019 20:00:00',
 '09Jan2019 21:00:00',
 '09Jan2019 22:00:00',
 '09Jan2019 23:00:00',
 '10Jan2019 00:00:00',
 '10Jan2019 01:00:00',
 '10Jan2019 02:00:00',
 '10Jan2019 03:00:00',
 '10Jan2019 04:00:00',
 '10Jan2019 05:00:00',
 '10Jan2019 06:00:00',
 '10Jan2019 07:00:00',
 '10Jan2019 08:00:00',
 '10Jan2019 09:00:00',
 '10Jan2019 10:00:00',
 '10Jan2019 11:00:00',
 '10Jan2019 12:00:00']

In [5]:
valuesList = data.total_wl.values.tolist()
valuesList

[1.1039658221999995,
 1.1548924258017133,
 1.2536889652433545,
 1.2411097484691418,
 1.2456902354,
 1.2202343276691416,
 1.2067529384433546,
 1.1324640458017128,
 1.1361784519999996,
 1.0823157366674283,
 1.0475420868000005,
 0.9928357787325716,
 0.9902861953999998,
 0.9461218147982864,
 0.9385669271566454,
 0.9730316673308584,
 0.9378787866,
 0.9671057421308584,
 1.0267824155566458,
 1.0867952151982871,
 1.1633501696,
 1.222869450132572,
 1.2715151504000006,
 1.3447399792674284,
 1.4181986528,
 1.417110509201713,
 1.4576620280433543,
 1.5666989734691417,
 1.5970707064,
 1.5990222046691418,
 1.6440593352433548,
 1.5772451904017128,
 1.5510606054,
 1.5522147246674285,
 1.4699663306,
 1.4707482371325715,
 1.4611279459999995,
 1.3925191193982869,
 1.430486118556645,
 1.4399003527308585,
 1.4388888884,
 1.4397656727308583,
 1.5220686095566454,
 1.5964248447982874,
 1.6604545462000004,
 1.7487953753325711,
 1.8653198658,
 1.9575345902674288,
 2.1369865330000004,
 2.0770431696017133,
 2.1755744882433548,
 2.314779782269142,
 2.2634680146000004,
 2.480975066069142,
 2.326146876443355,
 2.2482889612017134,
 2.3741582496,
 2.1307332444674287,
 2.1447811440000004,
 2.0219266883325715,
 2.0533164988,
 2.0112396581982868,
 1.9809238297566456,
 1.9392942919308584,
 1.9424579128000008,
 1.9121562459308588,
 2.0201157487566457,
 2.071509017998287,
 2.0556060614,
 2.229805476332572,
 2.1941414134,
 2.2380059710674285,
 2.3122053872,
 2.2309825630017133,
 2.1747664056433544,
 2.196934662669142,
 2.2460269364000003,
 2.304678771869142,
 2.152140144843355,
 2.124248556401713,
 2.0821717184,
 1.9680396406674283,
 1.9946801358,
 1.742128707532571,
 1.6391077453999996,
 1.6060544725982866,
 1.5112268591566456,
 1.5169373907308583,
 1.467912457,
 1.4784862117308584,
 1.3973548047566455,
 1.339993867398287,
 1.421397307,
 1.4368088433325716,
 1.428350169,
 1.4755143892674285,
 1.4199494954,
 1.442026335201713,
 1.5050694374433546,
 1.4343084008691418,
 1.4058922565999998,
 1.4385508260691415,
 1.3674936796433546,
 1.3241138756017132,
 1.2392760934,
 1.1879049606674286,
 1.12929293,
 1.0375495829325716,
 1.0081986536,
 0.9484113747982869,
 0.8717655795566455,
 0.7426612959308584,
 0.6664983161999999,
 0.6269710615308584,
 0.6321696203566454,
 0.6097581767982869,
 0.6261111113999999,
 0.6421960477325717,
 0.6512457916000001,
 0.7081069822674283,
 0.6579292936000001,
 0.6490297022017132,
 0.6871569784433545,
 0.6637360112691416,
 0.7244781154000001,
 0.7382141240691417,
 0.6716687628433546,
 0.5726660642017132,
 0.5761111104000001,
 0.5418443558674284,
 0.4523905714000002,
 0.4178862841325716,
 0.3995791252000002,
 0.3533945419982869,
 0.3378261865566455,
 0.2731663479308585,
 0.1743771048000001,
 0.1708094439308583,
 0.2012605287566453,
 0.2486133953982868,
 0.3088047142000001,
 0.3100074975325711,
 0.3609427603999999,
 0.4119453658674285,
 0.4012289561999999,
 0.4887603410017132,
 0.5105913216433545,
 0.5045440900691416,
 0.5482491586,
 0.5654195124691416,
 0.5295138798433545,
 0.4985919914017133,
 0.4538215482000001,
 0.3820463746674286,
 0.3597306404000002,
 0.3184923453325713,
 0.2923063986000002,
 0.2881420143982871,
 0.2904187797566454,
 0.2541764471308584,
 0.2507407402,
 0.2324929463308583,
 0.2834154119566454,
 0.3108356177982869,
 0.3571548809999998,
 0.4033408285325714,
 0.4713131322000001,
 0.5759184296674283,
 0.6267508424,
 0.669366403001713,
 0.6520054646433546,
 0.7479784344691418,
 0.7518855214000001,
 0.7540390396691417,
 0.7214330722433547,
 0.6950903064017132,
 0.6797474744000004,
 0.6169958712674287,
 0.5634343432000004,
 0.4564579653325717,
 0.4136602857999999,
 0.4148051379982871,
 0.4043758931566458,
 0.2940222739308584,
 0.2677033481999999,
 0.2370047315308583,
 0.2686395833566454,
 0.3089943991982865,
 0.3384662421999998,
 0.4232734893325713,
 0.4264646454000003,
 0.4107243850674285,
 0.4778495469999995,
 0.5452639752017129,
 0.5763577574433546,
 0.6130378000691417,
 0.5847581063999999,
 0.6037076558691419,
 0.6047628614433547,
 0.5624037940017131,
 0.5567756513999998]

In [6]:
data.ConvertedDate[0]

'02Jan2019 04:00:00'

In [7]:
pathname = f'///STAGE//1HOUR//'
tsc = TimeSeriesContainer()
tsc.pathname = pathname
tsc.startDateTime = timesList[0]
tsc.numberValues = len(valuesList)
tsc.units = "FEET"
tsc.type = "INST"
tsc.interval = -1
tsc.values = valuesList
tsc.times = timesList

dss_file = filename[:-4]+".dss"

In [8]:
dss_file = 'Run_5.dss'
with HecDss.Open(dss_file) as fid:
        status = fid.put_ts(tsc)